body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0707e0, rgb(228, 73, 12))
}

.mb-3 {
    color: #0b3905;
    border-bottom: 2px solid #ff9500;
}

.mb-3 {
    background-color: rgb(110, 50, 41);
    border-color: #a78928;
}

.mb-3 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #04192e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #00060b;
}

.form-control {
    border-radius: 5px;
}

@media (min-width: 992px) {
    body {
        background-color: #59a413;
    }
}

.alert {
    margin-top: 10px;
}

.mb-3 {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(29, 200, 194);
    color: white;
    text-align: center;
}
